.tutorial {
  display: grid;
  grid-template: "notes playground" 100vh/ 30vw 70vw;
  border-right: 1px solid var(--second);
  background-color: var(--second);
  color: rgba(255, 255, 255, 0.75);
}

.notes {
  color: var(--sidebar-text);
  background-color: var(--second);
  overflow: auto;
  &-markdown {
    padding: 3.2rem 4rem;
    overflow: auto;
    flex: 1;
  }
}
.playground {
  & iframe {
    width: 100%;
    height: 100%;
  }
}

.title {
  text-align: center;
  padding: 1em 0.5em;
}
