<main id="main">
  <article class="tutorial">
    <article class="notes">
      <article class="table-of-contents">
        <h1 class="title">{{ meta.title }}</h1>
      </article>

      <div class="notes-markdown">
        <article markdown [src]="'../assets/setting-up-routes.md'"></article>
        <hr />
        <article class="controls">
          <button class="show-reset" (click)="showReset()">
            {{ meta.showResetBtnText }}
          </button>
        </article>
      </div>
    </article>
    <article class="playground">
      <iframe [src]="meta.playgroundPath"></iframe>
    </article>
  </article>
</main>
