<main class="website__pages contact-page">
  <article class="contact-message">
    <div class="horizontal-line contact-message__horizontal-line"></div>
    <h2 class="title contact-message__title">Get in Touch</h2>
    <p class="message-s contact-message__message">
      I’d love to hear about what you’re working on and how I could help. I’m
      currently looking for a new role and am open to a wide range of
      opportunities. My preference would be to find a remote position in a
      company. But I’m also happy to hear about opportunities that don’t fit
      that description. I’m a hard-working and positive person who will always
      approach each task with a sense of purpose and attention to detail. Please
      do feel free to check out my online profiles below and get in touch using
      the form.
    </p>
    <!-- <SocialMedia page="contact-message" /> -->
    <app-social-media page="contact-message"></app-social-media>
  </article>
</main>
