<main id="main">
  <article class="tutorial">
    <article class="notes">
      <article class="table-of-contents">
        <nav class="navigation" [ngClass]="{ hide: isHidingNav }">
          <a
            *ngFor="let noteNav of notesNav"
            [id]="'#' + noteNav.link.replace('/', '')"
            [routerLink]="noteNav.link"
            class="navigation-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ noteNav.name }}</a
          >
        </nav>
        <!-- [href]="id" -->
        <a (click)="isHidingNav = !isHidingNav">
          <h1 class="title">
            <span class="icon"></span>
            {{ meta.chapter }} / {{ meta.section }}
          </h1>
        </a>
      </article>

      <div class="notes-markdown">
        <article markdown [src]="meta.markdownPath"></article>
        <hr />
        <article class="controls">
          <button class="show-reset" (click)="showReset()">
            {{ meta.currentText }}
          </button>
        </article>
        <a class="improve-document" [href]="meta.editPath" target="_black"
          >Edit this chapter</a
        >
      </div>
    </article>
    <article class="playground">
      <iframe [src]="meta.playgroundPath"></iframe>
    </article>
  </article>
</main>
