.tutorial {
  display: grid;
  &-playground {
    grid-template: "notes playground" 100vh/ 30vw 70vw;
  }
  border-right: 1px solid var(--second);
  background-color: var(--second);
  color: rgba(255, 255, 255, 0.75);
  min-height: 100vh;
}

.notes {
  color: var(--sidebar-text);
  background-color: var(--second);
  overflow: auto;
  &-markdown {
    padding: 3.2rem 4rem;
    overflow: auto;
    flex: 1;
  }
}
.playground {
  & iframe {
    width: 100%;
    height: 100%;
  }
}

.show-reset {
  background: var(--prime);
  padding: 0.3em 0.7em;
  border-radius: var(--border-r);
  top: 0.1em;
  position: relative;
  font-size: var(--h5);
  font-weight: 300;
  color: #ffffffb3;

  font-family: inherit;
  font-size: inherit;
  border: none;
  color: currentColor;
  cursor: pointer;
}

.controls {
  margin-top: 1em;
  margin-bottom: 1em;
}

.improve-document {
  font-size: 14px;
  text-decoration: none;
  opacity: 0.3;
  padding: 0 0.1em 0 1.2em;
  background: no-repeat 0 50% url("../../assets/edit.svg");
  background-size: 1em 1em;
  color: var(--sidebar-text);
  &:hover {
    transition: color 0.2s;
    color: var(--back);
  }
}

.new-tutorial {
  display: block;
}
