<main id="main" class="tutorial-parent">
  <article
    class="tutorial"
    [ngClass]="{ 'tutorial-playground': currentTutorial.playgroundExist }"
  >
    <article class="notes">
      <app-table-of-content></app-table-of-content>

      <div class="notes-markdown">
        <article
          markdown
          [src]="currentTutorial['markdownPath']"
          data-cy="tutorial"
        ></article>
        <hr />
        <article class="controls">
          <button
            class="show-reset"
            (click)="showReset()"
            *ngIf="currentTutorial.displayButton"
            data-cy="practice-button"
          >
            {{ currentTutorial.currentText }}
          </button>
        </article>
        <a
          class="improve-document"
          [href]="currentTutorial['editPath']"
          target="_black"
          data-cy="edit-tutorial"
          >Edit this chapter</a
        >
      </div>
      <hr />
      <app-navigation-buttons
        dataCyPrevious="footer-previous"
        dataCyNext="footer-next"
        showText="true"
      ></app-navigation-buttons>
    </article>
    <article class="playground">
      <iframe
        [src]="currentTutorial.currentPlaygroundPath"
        data-cy="playground"
      ></iframe>
    </article>
  </article>
</main>
