<main id="main">
  <article class="tutorial">
    <article class="notes">
      <app-table-of-content
        [section]="section"
        [notesNav]="notesNav"
      ></app-table-of-content>
      <div class="notes-markdown">
        <article markdown [src]="meta.markdownPath"></article>
        <hr />
        <article class="controls">
          <button class="show-reset" (click)="showReset()" *ngIf="meta.bPath">
            {{ meta.currentText }}
          </button>
        </article>
        <a class="improve-document" [href]="meta.editPath" target="_black"
          >Edit this chapter</a
        >
        <a class="new-tutorial improve-document" routerLink="/new"
          >New tutorial</a
        >
      </div>
    </article>
    <article class="playground">
      <iframe [src]="meta.playgroundPath"></iframe>
    </article>
  </article>
</main>
