<main id="main">
  <article
    class="tutorial"
    [ngClass]="{ 'tutorial-playground': playgroundExist }"
  >
    <article class="notes">
      <app-table-of-content></app-table-of-content>

      <div class="notes-markdown">
        <article markdown [src]="meta['markdownPath']"></article>
        <hr />
        <article class="controls">
          <button
            class="show-reset"
            (click)="showReset()"
            *ngIf="meta.bPath"
            data-cy="show-reset"
          >
            {{ meta.currentText }}
          </button>
        </article>
        <a
          class="improve-document"
          [href]="meta['editPath']"
          target="_black"
          data-cy="edit-markdown"
          >Edit this chapter</a
        >
      </div>
      <hr />
      <app-navigation-buttons
        dataCy="navigation-buttons-bottom"
        showText="true"
      ></app-navigation-buttons>
    </article>
    <article class="playground">
      <iframe [src]="meta.playgroundPath"></iframe>
    </article>
  </article>
</main>
