<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>New tutorial</h1>
      <button (click)="testProfile()" class="btn btn-primary">
        Test profile
      </button>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="chapter"> chapter </label>
          <input
            type="text"
            id="chapter"
            formControlName="chapter"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="section"> Section </label>
          <input
            type="text"
            id="section"
            formControlName="section"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="aPath"> aPath </label>
          <input
            type="text"
            id="aPath"
            formControlName="aPath"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="bPath"> bPath </label>
          <input
            type="text"
            id="bPath"
            formControlName="bPath"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <md-editor
            name="Content"
            formControlName="markdown"
            [(ngModel)]="content"
          >
          </md-editor>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
          Create new tutorial
        </button>
        <button (click)="reset()" class="btn btn-danger">Reset</button>
      </form>

      <div *ngIf="error.length > 0">
        <div class="alert alert-danger">
          <strong>Error!</strong> {{ error }}
        </div>
      </div>
    </div>

    <!-- <article markdown [data]="markdownText"></article> -->
  </div>
</div>
