.navigation {
  display: flex;
  flex-direction: column;

  font-size: var(--h5);

  &-link {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: var(--back);
    text-decoration: none;
    cursor: pointer;
    padding: 0.1em;
    &:hover {
      color: var(--prime);
      background-color: var(--sidebar-text);
    }
  }
}

.active {
  color: var(--prime);
  background-color: var(--back);
}

.hide {
  display: none;
}

.chapter {
  width: 100%;
}
