<app-navigation-buttons
  dataCy="navigation-buttons-top"
  class="table-of-contents"
>
  <div>
    <select
      for="navigation"
      data-cy="section"
      (change)="navigateTo($event)"
      [(ngModel)]="meta.currentTutorialLink"
      class="navigation-menu"
    >
      <optgroup
        *ngFor="let notesNav of notesNavOptgroup"
        [label]="notesNav.label"
      >
        {{ notesNav.label }}
        <option
          *ngFor="let options of notesNav.options; index as i"
          class="title"
          [value]="options.domainPath"
        >
          {{ i + 1 }}. {{ options.section }}
        </option>
      </optgroup>
    </select>
  </div>
</app-navigation-buttons>
<hr />
