<article class="table-of-contents">
  <nav class="navigation" [ngClass]="{ hide: isHidingNav }">
    <div *ngFor="let noteNav of notesNav">
      <button disabled *ngIf="noteNav.chapter" class="chapter">
        {{ noteNav.chapterNumber }}. {{ noteNav.chapter }}
      </button>
      <a
        [id]="'#' + noteNav.link.replace('/', '')"
        [routerLink]="noteNav.link"
        class="navigation-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ noteNav.name }}</a
      >
    </div>
  </nav>
  <hr *ngIf="!isHidingNav" />
  <a (click)="isHidingNav = !isHidingNav">
    <h1 class="title">
      <span class="icon"></span>
      {{ section }}
    </h1>
  </a>
  <hr />
</article>
