<article class="table-of-contents">
  <nav class="navigation" [ngClass]="{ hide: isHidingNav }">
    <div *ngFor="let noteNav of notesNav; index as i">
      <button disabled *ngIf="noteNav.chapter" class="chapter">
        {{ noteNav.chapter }}
      </button>
      <a
        [id]="'#' + noteNav.domainPath.replace('/', '')"
        [routerLink]="noteNav.domainPath"
        class="navigation-link"
        routerLinkActive="active"
        (click)="isHidingNav = !isHidingNav"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ i + 1 }}. {{ noteNav.section }}</a
      >
    </div>
  </nav>
  <hr *ngIf="!isHidingNav" />

  <article class="navigation-buttons">
    <a [routerLink]="previousTutorialLink" *ngIf="previousTutorialLink"
      >Previous</a
    >
    <a (click)="isHidingNav = !isHidingNav">
      <h1 class="title">
        <span class="icon"></span>
        {{ section }}
      </h1>
    </a>
    <a [routerLink]="nextTutorialLink" *ngIf="nextTutorialLink">Next</a>
  </article>

  <hr />
</article>
