.navigation {
  display: flex;
  flex-direction: column;
  font-size: var(--h5);

  &-menu {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      border: none;
    }
  }
}
