/* You can add global styles to this file, and also import other style files */
@use "styles/css-reset.scss";
@use "styles/variables.scss";

:root {
  --nav-h: 6rem;
  --top-offset: 6rem;
  --sidebar-w: 30rem;
  --sidebar-mid-w: 36rem;
  --sidebar-large-w: 48rem;
  --main-width: 80rem;
  --side-nav: 2.4rem;
  --side-page: var(--side-nav);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// wrap code snippet
code {
  white-space: pre-wrap !important;
}
