.navigation-buttons {
  text-align: center;
  align-items: center;
  padding: 1rem;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & a {
    color: var(--sidebar-text);
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--back);
    }
  }
}

.icon {
  height: 2rem;
  fill: red;
  transform: scale(-1, 1);

  &:hover {
    fill: var(--back);
  }
}
