.navigation-buttons {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  & a {
    color: var(--sidebar-text);
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--back);
    }
  }
}
