<article class="navigation-buttons" [attr.data-cy]="dataCy">
  <a
    [routerLink]="'/' + meta.previousDomainPath"
    *ngIf="meta.previousDomainPath"
    data-cy="previous-tutorial"
  >
    <app-arrow></app-arrow>
    <ng-template [ngIf]="showText">Previous</ng-template>
  </a>
  <ng-content></ng-content>

  <a
    [routerLink]="'/' + meta.nextDomainPath"
    *ngIf="meta.nextDomainPath"
    data-cy="next-tutorial"
    ><ng-template [ngIf]="showText">Next</ng-template>
    <app-arrow style="transform: rotate(180deg)"></app-arrow
  ></a>
</article>
